.send > form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 400px; }
  .send > form > input {
    border: 1px solid black;
    height: 40px;
    text-align: center; }
    .send > form > input:nth-child(3) {
      height: 200px; }
